@import url('admin.css');
@import url('chat.css');
@import url('components.css');
@import url('hero.css');
@import url('layout.css');
@import url('main.css');
@import url('navbar.css');
@import url('orders.css');
@import url('profile.css');
@import url('services.css');
@import url('style.css');
@import url('view_service.css');
@import url('order.css');

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}
