@import url('layout.css');
@import url('components.css');
@import url('profile.css');
@import url('services.css');
@import url('hero.css');

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}
