@import url('variables.css');

input[type="text"], input[type="password"], textarea {
  border: 1px solid var(--color-gray);
  border-radius: var(--radius-sm);
  padding: var(--space-sm) var(--space);
  font-size: var(--font-size-base);
}

label {
  color: var(--color-gray-dark);
  font-size: var(--font-size-sm);
}

button {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--radius-xs);
  padding: var(--space-sm) var(--space);
}