@import url('admin.css');
@import url("alerts.css");
@import url('chat.css');
@import url('hero.css');
@import url("navbar.css");
@import url('order_service.css');
@import url('orders.css');
@import url('payment_status.css');
@import url('style.css');
@import url('variables.css');

body {
  font-family: var(--font-main);
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


footer {
  margin-top: auto;
}