:root {
  /* Colors */
  --color-primary: #1dbf73;
  --color-primary-dark: #17a463;
  --color-primary-light: #18a764;
  --color-secondary: #0077cc;
  --color-accent: #ffc107;
  --color-danger: #ff4d4f;
  --color-success: #28a745;
  --color-background: #e2e0e0;
  --color-background-secondary: #f6f5f5;
  --color-background-tertiary:white;
  --color-white: #fff;
  --color-gray-light: #fafafa;
  --color-gray: #ccc;
  --color-text: #555;
  --color-border: #ddd;
  --color-shadow: 0 4px 8px rgba(0,0,0,0.05);

  /* Typography */
  --font-main: 'Segoe UI', Arial, sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 1.2rem;
  --font-size-sm: 0.9rem;

  /* Border radius */
  --radius-xs: 0.3rem;
  --radius-sm: 0.5rem;
  --radius: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;

  /* Spacing */
  --space-xs: 0.3rem;
  --space-sm: 0.5rem;
  --space: 1rem;
  --space-lg: 2rem;
}

[data-theme="dark"] {
  --color-background: #434242;
  --color-background-secondary: #353333;
  --color-background-tertiary:rgb(41, 40, 40);
  --color-text: #fff;
}